body {
  background-color: rgba(0, 0, 0, 0.815);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, p {
  color: white;
}

/*Navigation Bar*/

.navbar {
  background-color: #333;
  justify-content: left;
}

.navbar-item {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.navbar-link {
  text-decoration: none;
}

/*Dropdown menu*/

.dropbtn {
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
}

.dropdown-menu {
  overflow-y: scroll;
}

/*containers*/
.center {
  min-height: 80vh;
}

.input-group {
  width: 40vw;
}